/* title */
body{
    margin: 0;
    padding: 0;
    background: #262626;
}
ul{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
ul li{
    list-style: none;
    font-family: arial;
    font-size: 5em;
    letter-spacing: 15px;
    text-shadow: none;
    animation: animate 1s infinite linear;
}
@keyframes animate{
    0%{
        color: hotpink;
        text-shadow: 2px 2px 20px rgb(255, 255, 255),
            -2px -2px 20px rgb(8, 209, 142);;
    }
        18% {
            color: hotpink;
            text-shadow: 2px 2px 20px rgb(255,255,255),
                -2px -2px 20px rgb(8, 209, 142);
            ;
        }
        20% {
            color: lime;
            text-shadow: 0px 0px 7px lime 0, 0px 0px, 20px limegreen;
        }
        30%{
            color: white;
            text-shadow: none;
        }
        35%{
            color: lime;
            text-shadow: 0px 0px 7px lime 0, 0px 0px 20px limegreen;
        }
        70%{
            color:white;
            text-shadow: none;
        }
        85%{
            color: lime;
            text-shadow: 0px 0px 7px lime, 0px 0px 20px limegreen;
        }
        90%{
            color: white;
            text-shadow: none;
        }
        100%{
            color: white;
            text-shadow: none;
        }
}
ul li:nth-child(1){
    animation-delay: .2s;
}
ul li:nth-child(2) {
    animation-delay: .4s;
}
ul li:nth-child(3) {
    animation-delay: .6s;
}
ul li:nth-child(4) {
    animation-delay: .8s;
}
ul li:nth-child(5) {
    animation-delay: 1s;
}
ul li:nth-child(6) {
    animation-delay: 1.2s;
}
ul li:nth-child(7) {
    animation-delay: 1.4s;
}
ul li:nth-child(8) {
    animation-delay: 1.6s;
}
ul li:nth-child(9) {
    animation-delay: 1.8s;
}
ul li:nth-child(10) {
    animation-delay: 2s;
}

/* boxes */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(192, 192, 192, 0.2);
}

.box {
    height: 250px;
    width: 250px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px white;
    transition: background-color 2s;
    background-color: gray;
}

.box:nth-child(6n):hover {
    background-color: green;
    transition-duration: 1s;
}

.box:nth-child(6n+1):hover {
    background-color: blue;
    transition-duration: 1s;
}

.box:nth-child(6n+2):hover {
    background-color: purple;
    transition-duration: 1s;
}

.box:nth-child(6n+3):hover {
    background-color: orange;
    transition-duration: 1s;
}

.box:nth-child(6n+4):hover {
    background-color: turquoise;
    transition-duration: 1s;
}

.box:nth-child(6n+5):hover {
    background-color: fuchsia;
    transition-duration: 1s;
}

.box:nth-child(6n+6):hover {
    background-color: yellow;
    transition-duration: 1s;
}

.box:nth-child(6n+7):hover {
    background-color: lime;
    transition-duration: 1s;
}

.box:nth-child(6n+8):hover {
    background-color: brown;
    transition-duration: 1s;
}

.box:nth-child(6n+9):hover {
    background-color: cyan;
    transition-duration: 1s;
}

.box:nth-child(6n+10):hover {
    background-color: deepskyblue;
    transition-duration: 1s;
}
/* activity */
.animated-word{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 18%;
    left: 45%;
    font-size: 2em;
    font-family: arial;
    letter-spacing: 10px;
}
.letter{
    transition: 0.4s;
    transform: translate(0);
    cursor: grab;
    color: #fff;
}
.letter:hover{
    transform: translateY(-1rem);
    background:-webkit-linear-gradient(120deg, hsl(19,90%,52%), hsl(56,100%,50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}